# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Python
*.pyc


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Produced files
*.log
*.rdb

testclient/Debug
libestate/Debug
libestatepp/Debug
cppesnode/Debug/cppesnode
experiments/simple-poc-comparisson/results

estatezmq:8*
