# Compiled Object files
*.slo
*.lo
*.o
*.d
*.D
*.obj

# Python
*.pyc


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Produced files
*.log
*.rdb

testclient/Debug
libestate/Debug/libestate.so
libestatepp/Debug/libestatepp.so
cppesnode/Debug/cppesnode
experiments/simple-poc-comparisson/results
experiments/simple-poc-comparisson/mininet-environment/log

estatezmq:8*
